#errorCatcher Echo

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>Scottish Gliding Center - Weather Test Page</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: 14pt;
          background-color: #ffffff;
        }
        h1 {
          font-size: 120%;
        }
        h2 {
          font-size: 110%;
        }
        a:link {
          text-decoration: underline;
          color: #207070;
        }
        a:hover {
          text-decoration: underline;
          color: #30a0a0;
        }
        a:visited {
          text-decoration: underline;
          color: #207070;
        }
        table, td, th {
          border: 1px solid;
          border-collapse: collapse;
          padding: 5px;
        }
    </style>
  </head>
<body>
<div>
<h1>Welcome to the Scottish Gliding Centre weather station</h1>
<h2>About</h2>
<table>
  <tr>
    <td>Software</td>
    <td>
      <a href="https://weewx.com">WeeWx v$station.version</a>
    </td>
  </tr>
  <tr>
    <td>Skin</td>
    <td>
      <a href="https://github.com/swfrx/SguWeewx">$SKIN_NAME v$SKIN_VERSION</a>
    </td>
  </tr>
  <tr>
    <td>Wind roses</td>
    <td>
      <a href="https://github.com/gjr80/weewx-polarwindplot">PolarWindPlot v0.1.2</a>
    </td>
  </tr>
  <tr>
    <td>Station Type</td>
    <td>
       <a href="https://www.foshk.com/Wifi_Weather_Station/WH2650.html">FineOffset $station.hardware Clone</a>
    </td>
  </tr>
  <tr>
    <td>Generated on:</td>
    <td>$current.dateTime.format(format_string="%d-%b-%Y at %H:%M%p")</td>
  </tr>
  <tr>
    <td>WeeWx uptime:</td>
    <td>$station.uptime.long_form</td>
  </tr>
  <tr>
    <td>OS uptime:</td>
    <td>$station.uptime.long_form</td>
  </tr>
</table>

<h2>Windroses</h2>
<p>
<img src="media/weather/dayrose.png" class="media" alt="" />
<img src="media/weather/dayspiral.png" class="media" alt="" />
</p>

<h2>Charts</h2>
<p>
<a href="media/weather/daytempdew-sgu-big.png"><img src="media/weather/daytempdew-sgu.png" title="Click to enlarge"></a>
<a href="media/weather/daywind-sgu-big.png"><img src="media/weather/daywind-sgu.png" title="Click to enlarge"></a>
<a href="media/weather/daybarometer-sgu-big.png"><img src="media/weather/daybarometer-sgu.png" title="Click to enlarge"></a>
<a href="media/weather/dayrain-sgu-big.png"><img src="media/weather/dayrain-sgu.png" title="Click to enlarge"></a>
</p>

<h2>Weather Statistics</h2>
<p>Note that '&amp;#176;' is the HTML entity for the degree symbol '&deg;', and will be replaced with it when DokuWiki displays the page.</p>
<object data="pages/weather/weather_stats_incl.txt" style="width:100%;height:100vh;"></object>

</div>
</body>
</html>
